In [86]:
# Basic Imports
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib
from scipy.stats import pearsonr, spearmanr

In [87]:
top = pd.read_csv('../data/top.csv')
upcoming = pd.read_csv('../data/final_comingsoon.csv')
movies = pd.read_csv('../data/movies.csv')
rating = pd.read_csv('../data/ratings.csv')

In [88]:
top.head()

,Unnamed: 0,id,id.1,id.1.1,movie,year,time,rating,score,votes,gross,description,director,star,genre
0,0,0,0,0,Jai Bhim,2021,164,9.4,NaN,"156,320",NaN,When a tribal man is arrested for a case of al...,T.J. Gnanavel,'Suriya' 'Lijo Mol Jose' 'Manikandan' 'Rajisha...,"Crime, Drama"
1,1,1,1,1,The Shawshank Redemption,1994,142,9.3,80.0,"2,504,049",28.34,Two imprisoned men bond over a number of years...,Frank Darabont,'Tim Robbins' 'Morgan Freeman' 'Bob Gunton' 'W...,Drama
2,2,2,2,2,The Godfather,1972,175,9.2,100.0,"1,726,068",134.97,"The Godfather follows Vito Corleone, Don of th...",Francis Ford Coppola,'Marlon Brando' 'Al Pacino' 'James Caan' 'Dian...,"Crime, Drama"
3,3,3,3,3,Soorarai Pottru,2020,153,9.1,NaN,"104,396",NaN,"Nedumaaran Rajangam ""Maara"" sets out to make t...",Sudha Kongara,'Suriya' 'Paresh Rawal' 'Aparna Balamurali' 'G...,Drama
4,4,4,4,4,The Dark Knight,2008,152,9.0,84.0,"2,453,580",534.86,When the menace known as the Joker wreaks havo...,Christopher Nolan,'Christian Bale' 'Heath Ledger' 'Aaron Eckhart...,"Action, Crime, Drama"

In [89]:
top.columns = map(str.lower, top.columns)
top.columns = top.columns.str.replace(" ", "_")
#top.drop(['unnamed:_0'], axis=1, inplace=True)
top.rename(index={0: "movie", 1: "year", 2: "time", 3: "rating", 4: "metascore"})
top.rename(columns={'movie_name': 'movie', 'year_of_release': 'year', 'watch_time' : 'time', 'movie_rating' : 'rating', 'meatscore_of_movie' : 'score'}, inplace=True)
top.rename(columns={ top.columns[0]: "id" }, inplace = True)
top.head()

,id,id,id.1,id.1.1,movie,year,time,rating,score,votes,gross,description,director,star,genre
0,0,0,0,0,Jai Bhim,2021,164,9.4,NaN,"156,320",NaN,When a tribal man is arrested for a case of al...,T.J. Gnanavel,'Suriya' 'Lijo Mol Jose' 'Manikandan' 'Rajisha...,"Crime, Drama"
1,1,1,1,1,The Shawshank Redemption,1994,142,9.3,80.0,"2,504,049",28.34,Two imprisoned men bond over a number of years...,Frank Darabont,'Tim Robbins' 'Morgan Freeman' 'Bob Gunton' 'W...,Drama
2,2,2,2,2,The Godfather,1972,175,9.2,100.0,"1,726,068",134.97,"The Godfather follows Vito Corleone, Don of th...",Francis Ford Coppola,'Marlon Brando' 'Al Pacino' 'James Caan' 'Dian...,"Crime, Drama"
3,3,3,3,3,Soorarai Pottru,2020,153,9.1,NaN,"104,396",NaN,"Nedumaaran Rajangam ""Maara"" sets out to make t...",Sudha Kongara,'Suriya' 'Paresh Rawal' 'Aparna Balamurali' 'G...,Drama
4,4,4,4,4,The Dark Knight,2008,152,9.0,84.0,"2,453,580",534.86,When the menace known as the Joker wreaks havo...,Christopher Nolan,'Christian Bale' 'Heath Ledger' 'Aaron Eckhart...,"Action, Crime, Drama"

In [90]:
top.duplicated().sum()

0

In [91]:
top.isnull().sum()

id               0
id               0
id.1             0
id.1.1           0
movie            0
year             0
time             0
rating           0
score          169
votes            0
gross          185
description      0
director         0
star             0
genre            0
dtype: int64

In [92]:
top['year'] = top['year'].str.replace("(", "")
top['year'] = top['year'].str.replace(")", "")
#top['gross'] = top['gross'].str.replace("%", "")
#top['gross'] = top['gross'].str.replace("^", "")
#top['gross'] = top['gross'].str.replace("$", "")
#top['gross'] = top['gross'].str.replace("M", "")
#top['score'] = top['score'].str.replace("*", "")
#top['genre'] = top['genre'].str.replace("\n","")
#top['time'] = top['time'].str.replace("min","")
#pd.get_dummies(top['genre'])
top['star'] = top['star'].str.replace("[","")
top['star'] = top['star'].str.replace("]","")
top['star'] = top['star'].str.replace("''","")
top['star'] = top['star'].str.replace(",","")

<ipython-input-92-2fabb0a5e6ea>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  top['year'] = top['year'].str.replace("(", "")
<ipython-input-92-2fabb0a5e6ea>:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  top['year'] = top['year'].str.replace(")", "")
<ipython-input-92-2fabb0a5e6ea>:11: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  top['star'] = top['star'].str.replace("[","")
<ipython-input-92-2fabb0a5e6ea>:12: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  top['star'] = top['star'].str.replace("]","")

In [93]:
top.head()

,id,id,id.1,id.1.1,movie,year,time,rating,score,votes,gross,description,director,star,genre
0,0,0,0,0,Jai Bhim,2021,164,9.4,NaN,"156,320",NaN,When a tribal man is arrested for a case of al...,T.J. Gnanavel,'Suriya' 'Lijo Mol Jose' 'Manikandan' 'Rajisha...,"Crime, Drama"
1,1,1,1,1,The Shawshank Redemption,1994,142,9.3,80.0,"2,504,049",28.34,Two imprisoned men bond over a number of years...,Frank Darabont,'Tim Robbins' 'Morgan Freeman' 'Bob Gunton' 'W...,Drama
2,2,2,2,2,The Godfather,1972,175,9.2,100.0,"1,726,068",134.97,"The Godfather follows Vito Corleone, Don of th...",Francis Ford Coppola,'Marlon Brando' 'Al Pacino' 'James Caan' 'Dian...,"Crime, Drama"
3,3,3,3,3,Soorarai Pottru,2020,153,9.1,NaN,"104,396",NaN,"Nedumaaran Rajangam ""Maara"" sets out to make t...",Sudha Kongara,'Suriya' 'Paresh Rawal' 'Aparna Balamurali' 'G...,Drama
4,4,4,4,4,The Dark Knight,2008,152,9.0,84.0,"2,453,580",534.86,When the menace known as the Joker wreaks havo...,Christopher Nolan,'Christian Bale' 'Heath Ledger' 'Aaron Eckhart...,"Action, Crime, Drama"

In [99]:
top.sort_values(by=['gross'], ascending=False,inplace = True)

In [100]:
top.head(20)

,id,id,id.1,id.1.1,movie,year,time,rating,score,votes,gross,description,director,star,genre
618,618,618,618,618,Star Wars: Episode VII - The Force Awakens,2015,138,7.8,80.0,"892,221",936.66,"As a new threat to the galaxy rises, Rey, a de...",J.J. Abrams,'Daisy Ridley' 'John Boyega' 'Oscar Isaac' 'Do...,"Action, Adventure, Sci-Fi"
66,66,66,66,66,Avengers: Endgame,2019,181,8.4,78.0,"971,371",858.37,After the devastating events of Avengers: Infi...,"Directors:Anthony Russo, Joe Russo",'Robert Downey Jr.' 'Chris Evans' 'Mark Ruffal...,"Action, Adventure, Drama"
655,655,655,655,655,Avatar,2009,162,7.8,83.0,"1,167,413",760.51,A paraplegic Marine dispatched to the moon Pan...,James Cameron,'Sam Worthington' 'Zoe Saldana' 'Sigourney Wea...,"Action, Adventure, Fantasy"
67,67,67,67,67,Avengers: Infinity War,2018,149,8.4,68.0,"949,230",678.82,The Avengers and their allies must be willing ...,"Directors:Anthony Russo, Joe Russo",'Robert Downey Jr.' 'Chris Hemsworth' 'Mark Ru...,"Action, Adventure, Sci-Fi"
680,680,680,680,680,Titanic,1997,194,7.8,75.0,"1,107,940",659.33,A seventeen-year-old aristocrat falls in love ...,James Cameron,'Leonardo DiCaprio' 'Kate Winslet' 'Billy Zane...,"Drama, Romance"
380,380,380,380,380,The Avengers,2012,143,8.0,69.0,"1,321,491",623.28,Earth's mightiest heroes must come together an...,Joss Whedon,'Robert Downey Jr.' 'Chris Evans' 'Scarlett Jo...,"Action, Adventure, Sci-Fi"
922,922,922,922,922,Incredibles 2,2018,118,7.6,80.0,"273,769",608.58,The Incredibles family takes on a new mission ...,Brad Bird,'Craig T. Nelson' 'Holly Hunter' 'Sarah Vowell...,"Animation, Action, Adventure"
4,4,4,4,4,The Dark Knight,2008,152,9.0,84.0,"2,453,580",534.86,When the menace known as the Joker wreaks havo...,Christopher Nolan,'Christian Bale' 'Heath Ledger' 'Aaron Eckhart...,"Action, Crime, Drama"
611,611,611,611,611,Rogue One,2016,133,7.8,65.0,"587,711",532.18,"In a time of conflict, a group of unlikely her...",Gareth Edwards,'Felicity Jones' 'Diego Luna' 'Alan Tudyk' 'Do...,"Action, Adventure, Sci-Fi"
70,70,70,70,70,The Dark Knight Rises,2012,164,8.4,78.0,"1,596,785",448.14,Eight years after the Joker's reign of anarchy...,Christopher Nolan,'Christian Bale' 'Tom Hardy' 'Anne Hathaway' '...,"Action, Crime, Drama"
712,712,712,712,712,E.T. the Extra-Terrestrial,1982,115,7.8,91.0,"390,986",435.11,A troubled child summons the courage to help a...,Steven Spielberg,'Henry Thomas' 'Drew Barrymore' 'Peter Coyote'...,"Adventure, Family, Sci-Fi"
766,766,766,766,766,Toy Story 4,2019,100,7.7,84.0,"227,649",434.04,"When a new toy called ""Forky"" joins Woody and ...",Josh Cooley,'Tom Hanks' 'Tim Allen' 'Annie Potts' 'Tony Hale',"Animation, Adventure, Comedy"
47,47,47,47,47,The Lion King,1994,88,8.5,88.0,"995,397",422.78,Lion prince Simba and his father are targeted ...,"Directors:Roger Allers, Rob Minkoff",'Matthew Broderick' 'Jeremy Irons' 'James Earl...,"Animation, Adventure, Drama"
162,162,162,162,162,Toy Story 3,2010,103,8.2,92.0,"794,111",415.00,The toys are mistakenly delivered to a day-car...,Lee Unkrich,'Tom Hanks' 'Tim Allen' 'Joan Cusack' 'Ned Bea...,"Animation, Adventure, Comedy"
612,612,612,612,612,Captain America: Civil War,2016,147,7.8,75.0,"721,718",408.08,Political involvement in the Avengers' affairs...,"Directors:Anthony Russo, Joe Russo",'Chris Evans' 'Robert Downey Jr.' 'Scarlett Jo...,"Action, Adventure, Sci-Fi"
278,278,278,278,278,Jurassic Park,1993,127,8.1,68.0,"920,145",402.45,A pragmatic paleontologist touring an almost c...,Steven Spielberg,'Sam Neill' 'Laura Dern' 'Jeff Goldblum' 'Rich...,"Action, Adventure, Sci-Fi"
920,920,920,920,920,Guardians of the Galaxy Vol. 2,2017,136,7.6,67.0,"622,579",389.81,The Guardians struggle to keep together as a t...,James Gunn,'Chris Pratt' 'Zoe Saldana' 'Dave Bautista' 'V...,"Action, Adventure, Comedy"
237,237,237,237,237,Harry Potter and the Deathly Hallows: Part 2,2011,130,8.1,85.0,"814,530",381.01,"Harry, Ron, and Hermione search for Voldemort'...",David Yates,'Daniel Radcliffe' 'Emma Watson' 'Rupert Grint...,"Adventure, Fantasy, Mystery"
256,256,256,256,256,Finding Nemo,2003,100,8.1,90.0,"993,521",380.84,After his son is captured in the Great Barrier...,"Directors:Andrew Stanton, Lee Unkrich",'Albert Brooks' 'Ellen DeGeneres' 'Alexander G...,"Animation, Adventure, Comedy"
7,7,7,7,7,The Lord of the Rings: The Return of the King,2003,201,8.9,94.0,"1,729,851",377.85,Gandalf and Aragorn lead the World of Men agai...,Peter Jackson,'Elijah Wood' 'Viggo Mortensen' 'Ian McKellen'...,"Action, Adventure, Drama"

In [95]:
top.to_csv("../data/top.csv")

PermissionError: [Errno 13] Permission denied: '../data/top.csv'

In [ ]:
rating.head()

In [ ]:
movies.head(30)

In [ ]:
import math
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from pylab import rcParams
from PIL import Image
from wordcloud import WordCloud, STOPWORDS, ImageColorGenerator
%matplotlib inline

In [ ]:
# Total
print (f"{len(movies)} movies in total.")

In [ ]:
# Genres
all_genres = [s.split("|") for s in movies[movies.genres.notnull()].genres]
genres = [item for l in all_genres for item in l ]
unique_genres = set(genres)
print (f"total of {len(unique_genres)} unique genres from {len(genres)} occurances.")
pd.Series(genres).value_counts().plot(kind='bar', figsize=(10, 3))
plt.title("# of movies per genre")
plt.ylabel("# of movies")
plt.xlabel("genre")
plt.show()

In [ ]:
# Genres
all_genres = [s.split(",") for s in top[top.genre.notnull()].genre]
genres = [item for l in all_genres for item in l ]
unique_genres = set(genres)
print (f"total of {len(unique_genres)} unique genres from {len(genres)} occurances.")
pd.Series(genres).value_counts().plot(kind='bar', figsize=(10, 3))
plt.title("# of movies per genre")
plt.ylabel("# of movies")
plt.xlabel("genre")
plt.show()

In [ ]:
# Sort by popularity
sorted_by_popularity = top.sort_values(by='votes', ascending=False)
print ("Most popular movies:\n", sorted_by_popularity['movie'].values[:10])

In [ ]:
# Sort by rating
sorted_by_popularity = top.sort_values(by='rating', ascending=False)
print ("Most Rated movies:\n", sorted_by_popularity['movie'].values[:10])

## Ratings

In [ ]:
# Distribution of ratings
print (rating['rating'].describe())
pd.Series(rating['rating']).value_counts().sort_index().plot(kind='bar', figsize=(5, 2))
plt.title("Distribution of ratings")
plt.ylabel("# of movies")
plt.xlabel("rating")
plt.show()

In [ ]:
sorted_by_users = rating.groupby('userId')['movieId'].count().sort_values(ascending=False)
print ("Most active users:\n", sorted_by_users.values[:10])

In [ ]:
sorted_by_movies = rating.groupby('movieId')['userId'].count().sort_values(ascending=False)
print ("Most rated movies:\n", sorted_by_movies.values[:10])

# Upcoming

In [ ]:
up = pd.read_csv('../data/final_comingsoon.csv')

In [ ]:
up.head()

In [ ]:
up['Genre'] = up['Genre'].str.replace("<span>","")
up['Genre'] = up['Genre'].str.replace("</span>","")
#up.drop(['Unnamed: 0.1'], axis=1, inplace=True)
up['Genre'] = up['Genre'].str.replace("[","")
up['Genre'] = up['Genre'].str.replace("]","")
up['Genre'] = up['Genre'].str.replace("span","")
up['Genre'] = up['Genre'].str.replace("<","")
up['Genre'] = up['Genre'].str.replace(">","")
up['Genre'] = up['Genre'].str.replace("=","")
up['Genre'] = up['Genre'].str.replace("=","")

In [ ]:
up.head()